@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Philosopher&family=Special+Elite&family=Uchen&display=swap');
.heading {
    font-family: 'Philosopher';
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.inputClassStyle{
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    font-size: 25px;
    display: block;
    text-align: center;
}

.editProfileButton{
    padding: 10px;
    margin: 10px;
    font-size: 22px;
    color: white;
    background-color: #03045E;
    border-radius: 10px;
    border: 0;
    margin-top: 40px;
}
.editProfileButton:hover{
    background-color: white;
    color: #03045E;
    cursor: pointer;
    border: 2px solid #03045E;
}
