.grid-container {
    display: grid;
    grid-template-columns: 500px auto 500px;
    /* background-image: url('../../social-media-banners-hand-draw-doodle-background-vector-illustration-social-media-banners-hand-draw-doodle-background-117495847.jpg');
    background-repeat: repeat; */
    /* background-attachment: scroll; */
    /* background-size: cover; */
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .middleGridContent{
    height: 100vh;
    display: flex;
    align-items: center;
    
   
  }
  .formInputClass{
    margin: 10px;
    width: 650px;
    height: 30px;
    text-align: center;
  }
  .addPostButton{
    color: white;
    background-color: #03045E;
    height: 50px;
    width: 150px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;

  }
  .addPostButton:hover{
    color: #03045E;
    background-color: white;
    border: 1px solid #03045E;
  }
  .addPostForm{
    padding: 30px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
  }