
html {
    padding: 0px;
    background-color: white;
    box-sizing: 0px;
}

.main{

    
    /* margin-top: 50px; */
    text-align: center;
    display: block;
    margin-top: -10px;
    padding: 10px;
    margin-left: 20rem;
    margin-right: 20rem;
    height: 50rem;
    background-color: #CAF0F8
}
.title{
    
    margin-bottom: 1rem;
    font-size: 20px
    /* background-color: #CAF0F8; */
    
    
}
.box{
    /* padding: 5px; */
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    width: 20rem;
    border-color: aquamarine;
    border-width: none;
    text-align: center;
}

.button{
    height: 2rem;
    width: 5rem;
    border-radius: 100px;
    margin-right: 1rem;
    background-color: #03045E;
    color: white;
    right: 10px;
    align-items: center;
    margin-bottom: 5rem;
    border: none;
}
