.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  
  .loginLeft,
  .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #03045E;
    /* margin-bottom: 10rem; */
  }
  
  .loginDesc {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .loginBox{
      height: 300px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .loginInput{
      height: 50px;
      border-radius: 10px;
      border: 1px solid gray;
      font-size: 18px;
      padding-left: 20px;
      width: 600px;
      margin: 10px;
  }
  
  .loginInput:focus{
      outline: none;
  }
  
  .loginButton{
      height: 50px;
      border-radius: 30px;
      border: none;
      background-color: #0077B6;
      color: white;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      width: 500px;
      margin: 10px;
  }

  .loginButton:hover {
    border: 2px solid #0077B6;
    color: #0077B6;
    background-color: white;
  }
  
  .loginRegisterButton{
      width: 60%;
      align-self: center;
      height: 50px;
      border-radius: 30px;
      border: none;
      background-color: #03045E;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
  }

  .loginRegisterButton:hover {
    border: 2px solid #03045E;
    color: #03045E;
    background-color: white;
  }
  
  .errorMessage {
    color: red;
    font-size: larger;
    border: 5px solid red;
    border-radius: 10px;
    margin-left: 30px;
    padding: 10px;
    width: 87%;
    margin-bottom: 0px;
  }
