.postCard{
    margin: 20px;
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    width: 760px;
    border-radius: 10px;
}

.userNameText{
    font-size: 24px;
    font-family: verdana;
    font-weight: bold;
    float: left;
    margin-left: 10px;
}

.deletePost {
    float: right;
    margin: 10px;
    background-color: white;
    color: red;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
}
.deletePost:hover {
    border: 1px solid red;
    color:white;
    border-radius: 30px;
    background-color:red;
}

.postTitleClass{
    font-size: 26px;
    font-family: Verdana;
    margin-top: 50px;
    margin-right: 100px;
}

.postImageClass{
    height: 500px;
    width: 600px;

}

.tesClass{
    text-align: center;
}
.myPostCard{
    display: flex;
    justify-content: center;
}